body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee6e6;
    color: #ebe1e1;
}

header {
    background: #f5f2f2;
    color: #161616;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #0d0d0d;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8a8383;
    color: #070606;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #aca0a0;
}

footer {
    background: #f0e9e9;
    color: #110f0f;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
